<script setup>
import * as THREE from 'three';
import {GLTFLoader} from 'three/examples/jsm/loaders/GLTFLoader.js';
import {OrbitControls} from 'three/examples/jsm/controls/OrbitControls.js';


const scene = new THREE.Scene();

const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
camera.position.set(0,0,7)

const renderer = new THREE.WebGLRenderer();
renderer.setSize(window.innerWidth, window.innerHeight);
renderer.setPixelRatio(window.devicePixelRatio * 1.5);
document.body.appendChild(renderer.domElement);


const raycaster = new THREE.Raycaster();
const pointer = new THREE.Vector2();


const controls = new OrbitControls(camera, renderer.domElement);

let suzanne = null

function reset() {
  console.log("resetting")
  createjs.Ticker.setFPS(60);
  createjs.Tween.get(camera.rotation)
      .to({x: 0, y: -1, z:0}, 500);
  createjs.Tween.get(camera.position)
      .to({x:-7, y: 3, z: 7}, 500);
  //createjs.Tween.get(camera.position)
  //.to(default_camera_position, 500);
  //createjs.Tween.get(controls.target)
  //.to(default_controls_target, 500);
}


function animate() {


  /*
  // update the picking ray with the camera and pointer position
  raycaster.setFromCamera(pointer, camera);

  for (let i = 0; i < suzanne.scene.children.length; i++) {
    suzanne.scene.children[i].scale.set(1, 1, 1)
  }
  // calculate objects intersecting the picking ray
  const intersects = raycaster.intersectObjects(suzanne.scene.children);
  document.getElementsByTagName("body")[0].style.cursor = "default"
  for (let i = 0; i < intersects.length; i++) {
    intersects[i].object.scale.set(1.1, 1.1, 1.1)
    document.getElementsByTagName("body")[0].style.cursor = "pointer"
    //intersects[ i ].object.scale={x:1.1,y:1.1,z:1.1}
  }
  */


  update()
  //if(suzanne!=null)
  // console.dir(suzanne)
  // suzanne.rotation.z += 0.01;

  requestAnimationFrame(animate);
  renderer.render(scene, camera);
}


let mixer = null


// create an AudioListener and add it to the camera
const listener = new THREE.AudioListener();
// create the PositionalAudio object (passing in the listener)
const sound = new THREE.PositionalAudio(listener);
// load a sound and set it as the PositionalAudio object's buffer
const audioLoader = new THREE.AudioLoader();
audioLoader.load('sounds/fan.mp3', function (buffer) {
  sound.setBuffer(buffer);
  sound.setRefDistance(1);
  sound.setVolume(.5)
  sound.play();
});


const loader = new GLTFLoader();
loader.load('models/pretty_cube.glb', function (gltf) {

  suzanne = gltf
  scene.add(gltf.scene);
  console.log("gltf", gltf)


// finally add the sound to the mesh
  gltf.scene.children[0].add(sound);

// Create an AnimationMixer, and get the list of AnimationClip instances
  mixer = new THREE.AnimationMixer(gltf.scene);
  const clips = gltf.animations;

// Play all animations
  clips.forEach(function (clip) {
    mixer.clipAction(clip).play();
  });

  animate();
  reset();

}, undefined, function (error) {
  console.error(error);
});


const clock = new THREE.Clock();

// Update the mixer on each frame
function update() {
  if (mixer != null)
    mixer.update(clock.getDelta());
}


function onPointerMove(event) {

  pointer.x = (event.clientX / window.innerWidth) * 2 - 1;
  pointer.y = -(event.clientY / window.innerHeight) * 2 + 1;

}

window.addEventListener('pointermove', onPointerMove);

renderer.colorManagement=true
// renderer.toneMappingExposure=1d1
renderer.outputEncoding = THREE.sRGBEncoding;

</script>

<template>
</template>

<style>
body, html {
  margin: 0;
  padding: 0
}
</style>
